<div class="" >

    <table class="table" >
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">convertCurrencies</th>
            <th scope="col">sourceCurrency</th>
            <th scope="col">destinationCurrency</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of uim">
          <tr>
            <td>{{ user.usrName}}</td>
            <td>{{ user.convertCurrencies }}</td>
            <td>{{ user.sourceCurrency | number}}</td>
            <td>{{ user.destinationCurrency |number}}</td>
          </tr>

        </tbody>
      </table>
</div>
